{{ define "authorize.tmpl" }}
<html>
<h1>
    {{ .title }}
    <p>是否愿意代表您执行操作</p>
    <form method="POST">
        <button type="submit">授权</button>
        <button onclick="close_window()" type="button">取消</button>
    </form>
</h1>
<script>
    function close_window() {
        window.close();
    }
</script>

</html>
{{ end }}