{{ define "login.tmpl" }}
<html>
<h1>
    {{ .title }}
    {{ .message }}
    <form method="POST">
        <input name="username" placeholder="用户名" />
        <br />
        <input name="password" placeholder="密码" />
        <input name="login_redirect_uri" value="{{ .login_redirect_uri }}" />
        <button type="submit">登录</button>
    </form>
</h1>

</html>
{{ end }}